<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Station Update</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <!-- Header -->
    <div class="p-1 bg-primary text-white text-center">
      <h3>Station Settings</h3>
    </div>

    <div class="p-1 text-center">
      <h4>This section is for information about the station.</h4>
    </div>

    <br />
    <!-- Choices -->
    <div class="container">
      <form name="station" method="post" id="station-form">
        
        <!--  -->
        <div class="row">
          <div class="col-sm-2">
            <label for="location">Location:</label>
          </div>

          <div class="col-sm-2">
            <input
              class="form-control"
              type="text"
              id="location"
              required
              value="{{location}}"
            />
          </div>

          <div class="col-sm-8">
            <p>Description of the station location, such as your town.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label for="latitude">Latitude:</label>
          </div>

          <div class="col-sm-2">
            <input
              class="form-control"
              name="latitude"
              type="text"
              id="latitude"
              required
              value="{{latitude}}"
            />
          </div>

          <div class="col-sm-8">
            <p>
              Latitude in decimal degrees. Negative for southern hemisphere.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label for="longitude">Longitude:</label>
          </div>

          <div class="col-sm-2">
            <input
              class="form-control"
              name="longitude"
              type="text"
              id="longitude"
              required
              value="{{longitude}}"
            />
          </div>

          <div class="col-sm-8">
            <p>Longitude in decimal degrees. Negative for western hemisphere</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label for="altitude">Altitude:</label>
          </div>

          <div class="col-sm-2">
            <input
              class="form-control"
              type="text"
              id="altitude"
              value="{{altitude}}"
            />
          </div>

          <div class="col-sm-8">
            <p>
              Altitude of the station, with the unit it is in. This is used only
              if the hardware cannot supply a value.  Choose 'foot' or 'meter' for unit.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label for="station_type">Station Type:</label>
          </div>

          <div class="col-sm-2">
            <input
              class="form-control"
              type="text"
              id="station_type"
              value="{{station_type}}"
            />
          </div>

          <div class="col-sm-8">
            <p>Set to type of station hardware.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label for="rain_year_start">Rain Year Start:</label>
          </div>

          <div class="col-sm-2">
            <select
              class="form-select"
              id="rain_year_start"
              name="rain_year_start"
            >
              <option value="1">Jan</option>
              <option value="2">Feb</option>
              <option value="3">Mar</option>
              <option value="4">Apr</option>
              <option value="5">May</option>
              <option value="6">Jun</option>
              <option value="7">Jul</option>
              <option value="8">Aug</option>
              <option value="9">Sep</option>
              <option value="10">Oct</option>
              <option value="11">Nov</option>
              <option value="12">Dec</option>
            </select>
          </div>

          <div class="col-sm-8">
            <p>
              The start of the rain year (1=January; 10=October, etc.). This is
              downloaded from the station if the hardware supports it.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label for="week_start">Week Start:</label>
          </div>

          <div class="col-sm-2">
            <select class="form-select" id="week_start" name="week_start">
              <option value="0">Mon</option>
              <option value="1">Tue</option>
              <option value="2">Wed</option>
              <option value="3">Thu</option>
              <option value="4">Fri</option>
              <option value="5">Sat</option>
              <option value="6">Sun</option>
            </select>
          </div>

          <div class="col-sm-8">
            <p>Start of week</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5"></div>
          <div class="col-sm-2">
            <button class="btn btn-primary" type="submit">submit</button>
          </div>
          <div class="col-sm-5"></div>
        </div>
      </form>
    </div>

    <!-- Modal popup -->
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Station Settings</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">Settings saved...</div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn-primary" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      window.onload = function () {
        document.getElementById("rain_year_start").value =
          "{{rain_year_start}}";
        document.getElementById("week_start").value = "{{week_start}}";
      };
    </script>

    <script>
      function validateForm() {
        let latitude = document.forms["station"]["latitude"].value;
        if (!isLatitude(latitude)) {
          alert("Invalid latitude value");
          return false;
        }

        let longitude = document.forms["station"]["longitude"].value;
        if (!isLongitude(longitude)) {
          alert("Invalid longitude value");
          return false;
        }

        // Return gtrue if everything is good
        return true;
      }

      function isLatitude(lat) {
        return isFinite(lat) && Math.abs(lat) <= 90;
      }

      function isLongitude(lng) {
        return isFinite(lng) && Math.abs(lng) <= 180;
      }
    </script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      $(document).on("submit", "#station-form", function (e) {
        e.preventDefault();
        
        if (!validateForm()) {
          alert("Not saved");
          return false;
        }
        $.ajax({
          type: "POST",
          url: "/configuration/station",
          data: {
            location: $("#location").val(),
            latitude: $("#latitude").val(),
            longitude: $("#longitude").val(),
            altitude: $("#altitude").val(),
            station_type: $("#station_type").val(),
            rain_year_start: $("#rain_year_start").val(),
            week_start: $("#week_start").val(),
          },
          success: function () {
            myModal = new bootstrap.Modal(document.getElementById("myModal"), {
              keyboard: false,
            });

            myModal.show();
          },
        });
      });
    </script>
  </body>
</html>
