<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WeeWX WMR300 Config</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include 'static/bootstrap.inc' %}
  </head>

  <body>
    {% include 'static/nav.html' %}

    <!-- Header -->
    <div id="main" class="container-fluid">
      <div class="p-1 bg-primary text-white text-center">
        <h3>WMR300 Settings</h3>
      </div>

      <br />
      <div class="card">
        <div class="card-body">
          This section is for options relating to the
          <a
            href="https://weewx.com/docs/5.0/reference/weewx-options/stations/#wmr300"
            target="_blank"
            >Oregon Scientific WMR300 series</a
          >
          of weather stations with USB connectors.
        </div>
      </div>
      <br />

      <div class="container">
        <form name="station" method="post" id="station-form">
          <div class="row">
            <div class="col-sm-2">
              <span class="label">Model:</span>
            </div>
            <div class="col-sm-2">
              <input
                class="form-control"
                type="text"
                id="model"
                value="{{model}}"
              />
            </div>
            <div class="col-sm-8">
              <p>Set to the station model. For example, WMR300 or WMR300A.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
              <button class="btn btn-primary" type="submit">Save</button>
            </div>
            <div class="col-sm-5"></div>
          </div>
        </form>
      </div>
    </div>

    <!-- Modal popup -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Station Settings</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">Settings saved...</div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn-primary" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      window.onload = function () {
        document.getElementById("model").value = "{{model}}";
      };
    </script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      $(document).on("submit", "#station-form", function (e) {
        e.preventDefault();

        $.ajax({
          type: "POST",
          url: "/configuration/s_wmr300",

          data: {
            model: $("#model").val(),
          },
          success: function () {
            myModal = new bootstrap.Modal(document.getElementById("myModal"), {
              keyboard: false,
            });

            myModal.show();
          },
        });
      });
    </script>
  </body>
</html>
