name: Debian_base
version: 0.0.20
slug: debian_base
description: Debian HA Add-on
stage: stable
startup: application
init: false

legacy: true

arch:
  - i386

#panel_icon: mdi:log
panel_admin: false

uart: true

#ingress: true
#ingress_port: 8099

#map:
#  - addon_config:rw
#  - share
#  - ssl
# - homeassistant_config
# - addon_config
# - ssl
# - addons
# - backup
# - share
# - media
# - all_addon_configs
# - data.
