<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WeeWX Station Config</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include 'static/bootstrap.inc' %}
  </head>

  <body>
    {% include 'static/nav.html' %}

    <!-- Header -->
    <div id="main" class="container-fluid">
      <div class="p-1 bg-primary text-white text-center">
        <h3>MQTT Subscriber Service Settings</h3>
      </div>
      <div class="p-1 text-center">
        <h4>This section is for the MQTTSubscribe service..</h4>
      </div>
      <br />
      <!-- Choices -->
      <div class="container">
        <form
          name="mqttsubscribeservice"
          method="post"
          id="mqttsubscribeservice-form"
        >
          <div class="row">
            <div class="col-sm-2">
              <label for="enable">Enable:</label>
            </div>

            <div class="col-sm-2">
              <select class="form-select" id="enable" name="enable">
                <option value="false">False</option>
                <option value="true">True</option>
              </select>
            </div>

            <div class="col-sm-8">
              <p>Turn the service on and off</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <label for="host">Host:</label>
            </div>

            <div class="col-sm-2">
              <input
                class="form-control"
                type="text"
                id="host"
                value="{{host}}"
              />
            </div>

            <div class="col-sm-8">
              <p>The MQTT server. Default is localhost.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <label for="port">Port:</label>
            </div>

            <div class="col-sm-2">
              <input
                class="form-control"
                type="text"
                id="port"
                value="{{port}}"
              />
            </div>

            <div class="col-sm-8">
              <p>The port to connect to. Default is 1883.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <label for="keepalive">Keep Alive:</label>
            </div>

            <div class="col-sm-2">
              <input
                class="form-control"
                type="text"
                id="keepalive"
                value="{{keepalive}}"
              />
            </div>

            <div class="col-sm-8">
              <p>
                Maximum period in seconds allowed between communications with
                the broker. Default is 60.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <label for="username">User Name:</label>
            </div>

            <div class="col-sm-2">
              <input
                class="form-control"
                type="text"
                id="username"
                value="{{username}}"
              />
            </div>

            <div class="col-sm-8">
              <p>Username for broker authentication.+ Default is None.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <label for="password">Password:</label>
            </div>

            <div class="col-sm-2">
              <input
                class="form-control"
                type="text"
                id="password"
                value="{{password}}"
              />
            </div>

            <div class="col-sm-8">
              <p>Password for broker authentication. Default is None.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <label for="binding">Binding:</label>
            </div>

            <div class="col-sm-2">
              <select class="form-select" id="binding" name="binding">
                <option value="loop">loop</option>
                <option value="archive">archive</option>
              </select>
            </div>

            <div class="col-sm-8">
              <p>The binding, loop or archive. Default is: loop.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
              <button class="btn btn-primary" type="submit">submit</button>
            </div>
            <div class="col-sm-5"></div>
          </div>
        </form>
      </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Overall Settings</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">Settings saved..</div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn-success" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      function validateForm() {
        let port = document.forms["mqttsubscribeservice"]["port"].value;
        if (!isValidPort(port)) {
          alert("Invalid port value");
          return false;
        }

        let ka = document.forms["mqttsubscribeservice"]["keepalive"].value;
        if (!isValidKeepAlive(ka)) {
          alert("Invalid Keep Alive value");
          return false;
        }

        // Return true if everything is good
        return true;
      }

      function isValidPort(port) {
        return isFinite(port) && port <= 65535 && port > 1023;
      }

      function isValidKeepAlive(ka) {
        return isFinite(ka) && ka > 30 && ka <= 3600;
      }
    </script>

    <script type="text/javascript">
      window.onload = function () {
        document.getElementById("enable").value = "{{enable}}";
        document.getElementById("binding").value = "{{binding}}";
      };
    </script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      $(document).on("submit", "#mqttsubscribeservice-form", function (e) {
        e.preventDefault();

        if (!validateForm()) {
          return false;
        }

        $.ajax({
          type: "POST",
          url: "/configuration/c_mqttsubscribeservice",
          data: {
            enable: $("#enable").val(),
            host: $("#host").val(),
            port: $("#port").val(),
            keepalive: $("#keepalive").val(),
            username: $("#username").val(),
            password: $("#password").val(),
            binding: $("#binding").val(),
          },
          success: function () {
            myModal = new bootstrap.Modal(document.getElementById("myModal"), {
              keyboard: false,
            });

            myModal.show();
          },
        });
      });
    </script>
  </body>
</html>
