<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WeeWX Station Config</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include 'static/bootstrap.inc' %}
  </head>

  <body>
    {% include 'static/nav.html' %}

    <!-- Header -->
    <div id="main" class="container-fluid">
      <div class="p-1 bg-primary text-white text-center">
        <h3>NWS Settings</h3>
      </div>
      <div class="p-1 text-center">
        <h4>This section is for the NWS service.</h4>
      </div>

      <br />
      <!-- Choices -->
      <div class="container">
        <form name="nws" method="post" id="nws-form">
          <!-- Enable -->
          <div class="row">
            <div class="col-sm-2">
              <label for="enable">Enable:</label>
            </div>
            <div class="col-sm-2">
              <select class="form-select" id="enable" name="enable">
                <option value="false">False</option>
                <option value="true">True</option>
              </select>
            </div>

            <div class="col-sm-8">
              <p></p>
            </div>
          </div>

          <!--  data_binding  -->
          <!--
        <div class="row">
          <div class="col-sm-2">
            <label for="station">Data Binding:</label>
          </div>

          <div class="col-sm-2">
            <input
              class="form-control"
              type="text"
              id="data_binding"
              value="{{data_binding}}"
            />
          </div>

          <div class="col-sm-8">
            <p></p>
          </div>
        </div>
      -->
          <!--  days_to_keep -->
          <div class="row">
            <div class="col-sm-2">
              <label for="days_to_keep">Days To Keep:</label>
            </div>

            <div class="col-sm-2">
              <input
                class="form-control"
                type="text"
                id="days_to_keep"
                value="{{days_to_keep}}"
              />
            </div>

            <div class="col-sm-8">
              <p></p>
            </div>
          </div>

          <!--  poll_secs -->
          <div class="row">
            <div class="col-sm-2">
              <label for="poll_secs">Poll Seconds:</label>
            </div>

            <div class="col-sm-2">
              <input
                class="form-control"
                type="text"
                id="poll_secs"
                value="{{poll_secs}}"
              />
            </div>

            <div class="col-sm-8">
              <p></p>
            </div>
          </div>

          <!--  alert poll_secs -->
          <div class="row">
            <div class="col-sm-2">
              <label for="alert_poll_secs">Alert Poll Seconds:</label>
            </div>

            <div class="col-sm-2">
              <input
                class="form-control"
                type="text"
                id="alert_poll_secs"
                value="{{alert_poll_secs}}"
              />
            </div>

            <div class="col-sm-8">
              <p></p>
            </div>
          </div>

          <!--  retry_wait_secs -->
          <div class="row">
            <div class="col-sm-2">
              <label for="retry_wait_secs">Retry Wait Seconds:</label>
            </div>

            <div class="col-sm-2">
              <input
                class="form-control"
                type="text"
                id="retry_wait_secs"
                value="{{retry_wait_secs}}"
              />
            </div>

            <div class="col-sm-8">
              <p></p>
            </div>
          </div>

          <!--  alert_retry_wait_secs -->
          <div class="row">
            <div class="col-sm-2">
              <label for="alert_retry_wait_secs"
                >Alert Retry Wait Seconds:</label
              >
            </div>

            <div class="col-sm-2">
              <input
                class="form-control"
                type="text"
                id="alert_retry_wait_secs"
                value="{{alert_retry_wait_secs}}"
              />
            </div>

            <div class="col-sm-8">
              <p></p>
            </div>
          </div>

          <!--  timeout_secs -->
          <div class="row">
            <div class="col-sm-2">
              <label for="timeout_secs">Timeout Seconds:</label>
            </div>

            <div class="col-sm-2">
              <input
                class="form-control"
                type="text"
                id="timeout_secs"
                value="{{timeout_secs}}"
              />
            </div>

            <div class="col-sm-8">
              <p></p>
            </div>
          </div>

          <!--  user_agent -->
          <div class="row">
            <div class="col-sm-2">
              <label for="user_agent">User Agent:</label>
            </div>

            <div class="col-sm-2">
              <input
                class="form-control"
                type="text"
                id="user_agent"
                value="{{user_agent}}"
              />
            </div>

            <div class="col-sm-8">
              <p></p>
            </div>
          </div>

          <!-- Submit button -->
          <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
              <button class="btn btn-primary" type="submit">submit</button>
            </div>
            <div class="col-sm-5"></div>
          </div>
        </form>
      </div>
    </div>
    <!-- Modal popup -->

    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Overall Settings</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">Settings saved..</div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn-success" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      window.onload = function () {
        document.getElementById("enable").value = "{{enable}}";
        document.getElementById("days_to_keep").value = "{{days_to_keep}}";
        document.getElementById("poll_secs").value = "{{poll_secs}}";
        document.getElementById("alert_poll_secs").value =
          "{{alert_poll_secs}}";
        document.getElementById("retry_wait_secs").value =
          "{{retry_wait_secs}}";
        document.getElementById("alert_retry_wait_secs").value =
          "{{alert_retry_wait_secs}}";
        document.getElementById("timeout_secs").value = "{{timeout_secs}}";
        document.getElementById("user_agent").value = "{{user_agent}}";
      };

      function toTitleCase(str) {
        return str.replace(
          /\w\S*/g,
          (text) =>
            text.charAt(0).toUpperCase() + text.substring(1).toLowerCase()
        );
      }
    </script>

    <script>
      function validateForm() {
        let days_to_keep = document.forms["nws"]["days_to_keep"].value;
        let poll_secs = document.forms["nws"]["poll_secs"].value;
        let alert_poll_secs = document.forms["nws"]["alert_poll_secs"].value;
        let retry_wait_secs = document.forms["nws"]["retry_wait_secs"].value;
        let alert_retry_wait_secs =
          document.forms["nws"]["alert_retry_wait_secs"].value;
        let timeout_secs = document.forms["nws"]["timeout_secs"].value;

        if (!isPositiveInteger(days_to_keep)) {
          alert("Invalid Days To Keep value");
          return false;
        }

        if (!isPositiveInteger(poll_secs)) {
          alert("Injvalid Poll Seconds value");
          return false;
        }

        if (!isPositiveInteger(alert_poll_secs)) {
          alert("Invalid Alert Poll Seconds value");
          return false;
        }

        if (!isPositiveInteger(retry_wait_secs)) {
          alert("Invalid Retry Wait Seconds value");
          return false;
        }

        if (!isPositiveInteger(alert_retry_wait_secs)) {
          alert("Invalid Alert Retry Wait Seconds value");
          return false;
        }

        if (!isPositiveInteger(timeout_secs)) {
          alert("Invalid Timeoutt Seconds value");
          return false;
        }

        return true;
      }

      function isPositiveInteger(val) {
        val = val.trim();
        if (!val) {
          return false;
        }
        val = val.replace(/^0+/, "") || "0";
        var n = Math.floor(Number(val));
        return n !== Infinity && String(n) === val && n >= 0;

        // Return true if everything is good
        //return true;
      }
    </script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      $(document).on("submit", "#nws-form", function (e) {
        e.preventDefault();

        if (!validateForm()) {
          alert("Not saved");
          return false;
        }

        $.ajax({
          type: "POST",
          url: "/configuration/c_nws",
          data: {
            enable: $("#enable").val(),
            days_to_keep: $("#days_to_keep").val(),
            poll_secs: $("#poll_secs").val(),
            alert_poll_secs: $("#alert_poll_secs").val(),
            retry_wait_secs: $("#retry_wait_secs").val(),
            alert_retry_wait_secs: $("#alert_retry_wait_secs").val(),
            timeout_secs: $("#timeout_secs").val(),
            user_agent: $("#user_agent").val(),
          },
          success: function () {
            myModal = new bootstrap.Modal(document.getElementById("myModal"), {
              keyboard: false,
            });

            myModal.show();
          },
        });
      });
    </script>
  </body>
</html>
