<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Station Register</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include 'static/bootstrap.inc' %}
  </head>

  <body>
    {% include 'static/nav.html' %}

    <!-- Header -->
    <div id="main" class="container-fluid">
      <div class="p-1 bg-primary text-white text-center">
        <h3>Station Registry</h3>
      </div>
      <div class="p-1 text-center">
        <h4>Enable station registry at Weewx.com</h4>
      </div>

      <br />

      <!-- Choices -->
      <div class="container">
        <form name="stationregistry" method="post" id="stationregistry-form">
          <div class="row">
            <div class="col-sm-2">
              <label for="register_this_station">Enable:</label>
            </div>

            <div class="col-sm-2">
              <select
                class="form-select"
                id="register_this_station"
                name="register_this_station"
              >
                <option value="false">False</option>
                <option value="true">True</option>
              </select>
            </div>
            <div class="col-sm-8">
              <p>
                To register this weather station at weewx.com, set this to true,
                and set option 'station_url', located in the
                <a href="/configuration/c_station">Station section.</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
              <button class="btn btn-primary" type="submit">submit</button>
            </div>
            <div class="col-sm-5"></div>
          </div>
        </form>
      </div>
    </div>
    <!-- Modal popup -->

    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Overall Settings</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">Settings saved..</div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn-success" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      window.onload = function () {
        document.getElementById("register_this_station").value =
          "{{register_this_station}}";
      };
    </script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      $(document).on("submit", "#stationregistry-form", function (e) {
        e.preventDefault();

        $.ajax({
          type: "POST",
          url: "/configuration/c_stationregistry",

          data: {
            register_this_station: $("#register_this_station").val(),
          },

          success: function () {
            myModal = new bootstrap.Modal(document.getElementById("myModal"), {
              keyboard: false,
            });

            myModal.show();
          },
        });
      });
    </script>
  </body>
</html>
