name: rtl433_2_mqtt
version: 0.3.13
slug: rtl433_2_mqtt
description: rtl433_2_mqtt Add-on
url: https://github.com/rlang001/Home-Assistant-Addons/edit/master/rtl433_2_mqtt
stage: experimental
startup: application
init: false

legacy: true

arch:
  - aarch64
  - amd64
  - i386

panel_icon: mdi-antenna
panel_admin: false

options:
  sdr0_enable: true
  rtl_433_sdr0_conf_file: "rtl_433.sdr0.conf"

  sdr1_enable: false
  rtl_433_sdr1_conf_file: "rtl_433.sdr1.conf"

  sdr2_enable: false
  rtl_433_sdr2_conf_file: "rtl_433.sdr2.conf"

  ha_discovery: false
  discovery_log_level: "warning"

schema:
  sdr0_enable: bool
  rtl_433_sdr0_conf_file: "str"

  sdr1_enable: bool
  rtl_433_sdr1_conf_file: "str"

  sdr2_enable: bool
  rtl_433_sdr2_conf_file: "str"

  ha_discovery: bool
  discovery_log_level: "list(debug|info|warning|error|critical)"

services:
  - mqtt:want

usb: true

map:
  - addon_config:rw
